<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="example-spacer"></span>
    <span>Welcome .. @CMED Health Portal</span>
  </mat-toolbar-row>
</mat-toolbar>


<mat-card  class="example-card d-flex flex-column" style="min-height: 100vh;">
  <mat-card-header>
    <mat-card-title> <h4>Prescriptions</h4></mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <form #f="ngForm">

      <div class="form-group">
        <label for="search"><b>Search Prescription:</b></label>
        <input [(ngModel)]="filter.date" id="search-box" name="search" class="form-control" style="width: 20%">
      </div>

      <button (click)="search()" [disabled]="!f?.valid" class="btn btn-danger">Search</button>
      <a class="nav-link" class="btn btn-primary active" style="margin-left: 5px" (click)="addPrescription()">Add</a>
    </form>

    <div class="card" style="margin-top: 30px">
      <!--*ngIf="prescriptionList.length > 0"-->
      <!--<div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>-->
      <div class="table-responsive">
        <table class="table table-centered table-hover mb-0" id="datatable">
          <thead>
          <tr>
            <th class="border-top-0" scope="col">Id</th>
            <th class="border-top-0" scope="col">Patient Name</th>
            <th class="border-top-0" scope="col">Age</th>
            <th class="border-top-0" scope="col">Gender</th>
            <th class="border-top-0" scope="col">Date</th>
            <th class="border-top-0" scope="col">Diagnosis</th>
            <th class="border-top-0" scope="col">Medicine</th>
            <th class="border-top-0" scope="col">Next Visit</th>

            <th class="border-top-0" scope="col" style="width:120px"></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of prescriptionList" [class.active]="item === selectedPrescription">

            <td>{{item.id}}</td>
            <td>{{item.patientName}}</td>
            <td>{{item.age}}</td>
            <td>{{item.gender}}</td>
            <td>{{item.prescriptionDate}}</td>
            <td>{{item.diagnosis}}</td>
            <td>{{item.medicine}}</td>
            <td>{{item.nextVisitDate}}</td>

            <td style="white-space: nowrap">
              <button (click)="editPrescription(item)" class="btn btn-secondary">Edit</button> &nbsp;             
              <button (click)="delete(item)" class="btn btn-danger">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </mat-card-content>
  <mat-card-footer>
    <footer class="footer">
      <span class="text-muted" style="alignment: left;margin-left: 10px;">All Rights Reserved 2020 @CmedHealth</span>
    </footer>
  </mat-card-footer>

</mat-card>

<router-outlet></router-outlet>
