<mat-toolbar color="primary">
  <mat-toolbar-row>

    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="example-spacer"></span>
    <span>Welcome .. @CMED Health Portal</span>

  </mat-toolbar-row>
</mat-toolbar>


<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Login to your account</mat-card-title>
  </mat-card-header>

  <mat-card-content >
    <form [formGroup]="loginForm" class="example-form" (ngSubmit)="onSubmit()">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class ="example-full-width">
              <input matInput placeholder="UserName" type="username" formControlName="username" id="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" type="password" formControlName="password" id="pwd" required>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <button mat-raised-button  color="primary">Login</button>
    </form>

  </mat-card-content>


</mat-card>
<footer class="footer">
  <!--<div class="container">-->
    <span class="text-muted" style="alignment: left">All Rights Reserved 2020 @CmedHealth</span>
  <!--</div>-->

</footer>
